Kanan = Longitude (horizontal) <br>
Kiri  = Latitude (vertical)

In [24]:
import pandas as pd
import json
import time
import numpy as np

In [25]:
start_latitude  = -6.8920994
start_longitude = 112.8606966

end_latitude  = -6.9292877
end_longitude = 114.1354177

adder_latitude  = 0.0045907
adder_longitude = 0.0098598

In [26]:
current_latitude  = start_latitude
current_longitude = start_longitude

data = []

while True:
    while True:
        data.append([
            current_latitude, 
            current_longitude, 
            #"https://www.google.com/maps/@{},{},371m/data=!3m1!1e3".format(current_latitude, current_longitude)
        ])
        
        current_longitude += adder_longitude
        if current_longitude >= end_longitude:
            current_longitude = start_longitude
            break
    
    # print("---------------------------")
    current_latitude -= adder_latitude
    if current_latitude <= end_latitude:
        break

In [27]:
df = pd.DataFrame(data)
df.columns = [
    'latitude', 
    'longitude', 
    #'link'
]
df.head(5)

   latitude   longitude
0 -6.892099  112.860697
1 -6.892099  112.870556
2 -6.892099  112.880416
3 -6.892099  112.890276
4 -6.892099  112.900136

In [28]:
df.to_csv("coordinate.csv", index=False)